<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<SFTitle :params="{ text: '表單內容', level: 2 }"></SFTitle>
		<TabView
			ref="tab_forms"
			:params="{
				forms_data: form_names,
				lock,
				unlock,
				shows,
				hidden,
				lock_all: true
			}"
		></TabView>
		<SFTitle :params="{ text: '審核紀錄', level: 2 }"></SFTitle>

		<el-table
			:data="review_history"
			style="width: 100%;margin-bottom: 20px;"
			row-key="id"
			border
			default-expand-all
			:default-sort="{ prop: 'datetime', order: 'ascending' }"
		>
			<el-table-column prop="datetime" label="日期" sortable>
			</el-table-column>
			<el-table-column prop="step" label="狀態"> </el-table-column>
			<el-table-column prop="reviewer" label="審核人"> </el-table-column>
			<el-table-column prop="option" label="選項"> </el-table-column>
			<el-table-column prop="comment" label="評論"> </el-table-column>
		</el-table>
	</div>
</template>

<script>
import axios from 'axios';
import TabView from '@/views/sf_tab_view';
import SFTitle from '@/components/SFTitle.vue';

export default {
	props: ['params'],
	components: {
		TabView,
		SFTitle
	},
	filters: {},
	data() {
		return {
			tabPosition: 'left',
			title: '',
			form_names: [],
			form_record_ids: [],

			fields: {},
			form: {},
			form_record_id: '',
			flow_name: this.$route.path.split('/')[1],
			comment: '',
			review_options: [],
			lock: [],
			unlock: [],
			shows: [],
			hidden: [],
			review_history: []
		};
	},
	computed: {
		flow_record_id: function() {
			return this.$route.path.split('/')[4];
		}
	},
	created() {
		axios
			.post('/api/get_flow_step', {
				flow_name: this.flow_name,
				flow_record_id: this.flow_record_id
			})
			.then(response => {
				let data = response.data;
				let {
					title,
					forms,
					form_names,
					review_history,
					flow,
					current_step
				} = data;
				console.log(forms);
				console.log(form_names);
				for (let item of form_names) {
					item.record_id = forms[item.form];
				}
				this.form_names = form_names;
				this.form_record_ids = Object.values(forms);
				this.title = title;
				this.review_history = review_history;

				let current_flow = flow.steps[current_step];

				this.lock = current_flow.lock;
				this.unlock = current_flow.unlock;
				this.shows = current_flow.shows;
				this.hidden = current_flow.hidden;
			});
	},
	methods: {}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
[v-clock] {
	display: none;
}
.search-input {
	margin-bottom: 30px;
	width: 400px;
}
.edit_table {
	position: absolute;
	right: 35px;
}
</style>
