<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<el-form
			class="el-form"
			:model="form"
			:rules="rules"
			ref="form"
			label-width="150px"
		>
			<template v-for="(item, index) in fields">
				<el-form-item
					v-show="item.hasOwnProperty('show') ? item.show : true"
					:label="item.name"
					:key="`item${index}`"
					:for="item.id"
					:prop="item.id"
				>
					<el-input
						v-if="item.type === 'string' && !item.extendable"
						v-model="form[item.id]"
						:name="item.id"
						:placeholder="item.placeholder"
						@input="
							t =>
								(form[item.id] =
									account_page && item.id === 'account'
										? t.toLowerCase()
										: t)
						"
					/>
					<el-input
						v-if="item.type === 'textarea'"
						type="textarea"
						v-model="form[item.id]"
						:name="item.id"
						:placeholder="item.placeholder"
					/>
					<el-input
						v-if="item.type === 'password'"
						type="password"
						v-model="form[item.id]"
						:name="item.id"
						:placeholder="item.placeholder"
					/>
					<el-input
						v-if="item.type === 'number' && !item.extendable"
						v-model.number="form[item.id]"
						:placeholder="item.placeholder"
					/>
					<el-select
						v-if="item.type === 'choice'"
						v-model="form[item.id]"
						:placeholder="item.placeholder"
					>
						<el-option
							v-for="(opt, index) in item.option"
							:key="`${item.id}-option-${index}`"
							:label="opt.text"
							:value="opt.value"
						/>
					</el-select>

					<el-date-picker
						v-if="item.type === 'date'"
						v-model="form[item.id]"
						type="date"
						style="width: 50%;"
						:placeholder="item.placeholder"
					/>
					<el-date-picker
						v-if="item.type === 'daterange'"
						v-model="form[item.id]"
						type="daterange"
						style="width: 50%;"
						:placeholder="item.placeholder"
					/>
					<el-date-picker
						v-if="item.type === 'datetime'"
						v-model="form[item.id]"
						type="datetime"
						style="width: 50%;"
						:placeholder="item.placeholder"
					/>
					<el-date-picker
						v-if="item.type === 'datetimerange'"
						v-model="form[item.id]"
						type="datetimerange"
						style="width: 50%;"
						:placeholder="item.placeholder"
					/>
					<el-switch
						v-if="item.type === 'boolean'"
						v-model="form[item.id]"
					/>
					<el-checkbox-group
						v-if="item.type === 'multichoice'"
						v-model="form[item.id]"
					>
						<el-checkbox
							v-for="(opt, index) in item.option"
							:label="opt.value"
							:key="index"
						>
							{{ opt.text }}
						</el-checkbox>
					</el-checkbox-group>
					<template v-if="item.extendable">
						<el-form-item
							v-for="(arrayItem, arrayIndex) in form[item.id]"
							:label="`${arrayIndex}`"
							:key="arrayIndex"
							label-width="50px"
						>
							<el-input
								style="width:70%; margin:5px"
								v-model="form[item.id][arrayIndex]"
							></el-input
							><el-button
								type="danger"
								plain
								style="margin-left:10px"
								@click.prevent="
									removeArrayItem(item.id, arrayIndex)
								"
								>-</el-button
							>
						</el-form-item>
						<el-form-item>
							<el-button @click="addArrayItem(item.id, item.type)"
								>+</el-button
							>
						</el-form-item>
					</template>
				</el-form-item>

				<el-form-item
					v-if="item.type === 'password'"
					:label="`confirm ${item.name}`"
					:key="`_confirm_item${index}`"
					:for="`_confirm_${item.id}`"
					:prop="`_confirm_${item.id}`"
				>
					<el-input
						type="password"
						v-model="form[`_confirm_${item.id}`]"
						:name="`_confirm_${item.id}`"
					/>
				</el-form-item>
			</template>
			<el-form-item v-if="!hide_submit">
				<el-button type="primary" @click="onSubmit('form')"
					>Create</el-button
				>
				<el-button @click="onReset('form')">Reset</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>
<script>
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import { create } from '@/api/form';
import axios from 'axios';
export default {
	name: 'Dashboard',
	props: ['params'],
	components: {
		SFTitle
	},
	data: function() {
		return {
			title: '',
			fields: {},
			page: '',
			form: {},
			api: {},
			rules: {},
			options: {}
		};
	},
	created() {
		const string_type = ['string', 'date', 'choice'];
		const array_type = ['multichoice'];
		// const object_type = [];
		// const boolean_type = ['boolean'];
		axios.get(this.schemaUrl).then(json => {
			this.name = json.data.name;
			this.title = json.data.name;
			this.fields = json.data.data.fields;
			this.options = json.data.data.meta || {};
			this.page = json.data.page;

			let form_data = {},
				rule_data = {};
			Object.values(this.fields).forEach(field => {
				let field_type = field.type;
				let rulesArray = [];
				if (string_type.includes(field_type) && !field.extendable) {
					form_data[field.id] = '';
				} else if (
					array_type.includes(field_type) ||
					field.extendable
				) {
					form_data[field.id] = [];
				}
				if (field.required)
					rulesArray.push({
						required: field.required,
						message: `Please input ${field.name}`
					});
				if (field_type === 'number')
					rulesArray.push({
						type: 'number',
						message: 'Please input number only'
					});
				if (field.id === 'email')
					rulesArray.push({
						type: 'email',
						message: 'Please input correct email address'
					});
				if (field.id === 'password') {
					let confirmRules = [
						...rulesArray,
						{ validator: validatePass, trigger: 'blur' }
					];
					rule_data[`_confirm_${field.id}`] = confirmRules;
				}
				if (field.validation) {
					field.validation.pattern = field.validation.pattern
						.split('/')
						.filter(param => !!param);
					rulesArray.push({
						pattern: new RegExp(...field.validation.pattern),
						message: field.validation.message,
						trigger: field.validation.trigger || 'change'
					});
				}
				rule_data[field.id] = rulesArray;
				if (field.type === 'choice' && field.default_value) {
					form_data[field.id] = field.default_value;
				}
			});
			this.form = form_data;
			this.rules = rule_data;
		});
		var validatePass = (rule, value, callback) => {
			if (value === '') {
				callback(new Error('Please input again'));
			} else if (value !== this.form.password) {
				// eslint-disable-next-line prettier/prettier
				callback(new Error('Password does not match!'));
			} else {
				callback();
			}
		};
	},
	computed: {
		...mapGetters(['roles']),
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return this.$route.path.split('/')[1];
			}
		},
		schemaUrl: function() {
			let defaultUrl = `/api/${this.form_name}/schema`;
			return this.$route.meta
				? this.$route.meta.schemaUrl
					? this.$route.meta.schemaUrl
					: defaultUrl
				: defaultUrl;
		},
		submitUrl: function() {
			let defaultUrl = `/api/${this.form_name}`;
			return this.$route.meta
				? this.$route.meta.submitUrl
					? this.$route.meta.submitUrl
					: defaultUrl
				: defaultUrl;
		},
		hide_submit: function() {
			if (this.params && this.params.hide_submit) {
				return this.params.hide_submit;
			} else {
				return false;
			}
		},
		account_page: function() {
			return this.form_name === '_accounts';
		}
	},
	methods: {
		onSubmit(formName) {
			this.$refs[formName].validate(valid => {
				if (valid) {
					if (this.$listeners.onSubmitDone) {
						return this.$emit('onSubmitDone');
					}
					create(this.submitUrl, this.form, err => {
						if (err) {
							this.$message({
								message: err,
								type: 'error'
							});
						} else {
							this.$message({
								message: 'Submit!',
								type: 'success'
							});
							if (
								Object.prototype.hasOwnProperty.call(
									this.options,
									'actions'
								) &&
								Object.prototype.hasOwnProperty.call(
									this.options.actions,
									'afterCreated'
								) &&
								this.options.actions.afterCreated === 'last'
							) {
								this.$router.go(-1);
							} else {
								this.$refs[formName].resetFields();
							}
						}
					});
				} else {
					return false;
				}
			});
		},
		onReset(formName) {
			this.$confirm('Are you sure to reset?', 'Warning', {
				confirmButtonText: 'Yes',
				cancelButtonText: 'Cancel',
				type: 'warning'
			})
				.then(() => {
					this.$refs[formName].resetFields();
				})
				.then(() => {
					this.$message({
						message: 'Reset!',
						type: 'warning'
					});
				});
		},
		validate(formName) {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs[formName].validate(valid => {
					resolve(valid);
				});
			});
		},
		resetFields(formName) {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs[formName].resetFields();
				resolve();
			});
		},
		removeArrayItem(itemId, arrayIndex) {
			this.form[itemId].splice(arrayIndex, 1);
		},
		addArrayItem(itemId, type) {
			let newElement = null;
			if (type === 'string') {
				newElement = '';
			} else if (type === 'number') {
				newElement = 0;
			}
			this.form[itemId].push(newElement);
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
