<template>
	<div class="app-container">
		<el-row type="flex" justify="space-between">
			<el-col :span="6">
				<el-input
					class="search-input"
					@change="handleChange"
					placeholder="Please input"
					v-model="searchInput"
					clearable
				>
					<el-button slot="append" icon="el-icon-search"></el-button>
				</el-input>
			</el-col>
			<el-col :span="6" align="right">
				<el-button
					v-cloak
					v-if="this.showCreate && this.createPosition === 'top'"
					type="primary"
					@click="create_link()"
					size="small"
				>
					{{ this.createButtonText }}
				</el-button>
			</el-col>
		</el-row>
		<el-button
			type="primary"
			icon="el-icon-edit"
			round
			v-if="this.showEditTable"
			class="edit_table"
			@click="edit_table()"
			>Edit Table</el-button
		>
		<el-table
			v-loading="listLoading"
			:data="show_list"
			element-loading-text="Loading"
			border
			fit
			highlight-current-row
		>
			<el-table-column
				v-for="item in fields"
				:key="item.id"
				align="center"
				:label="item.name"
				:sortable="item.sortable"
			>
				<template slot-scope="scope">
					<div v-if="item.type === 'choice'">
						{{
							scope.row[item.id] &&
							typeof scope.row[item.id] === 'string'
								? item.option.find(
										e => e.value === scope.row[item.id]
								  )
									? item.option.find(
											e => e.value === scope.row[item.id]
									  ).text
									: 'N/A'
								: typeof scope.row[item.id] === 'object'
								? item.option.find(
										e => e.value === scope.row[item.id].id
								  )
									? item.option.find(
											e =>
												e.value ===
												scope.row[item.id].id
									  ).text
									: 'N/A'
								: scope.row[item.id]
						}}
					</div>
					<div
						v-else-if="
							item.type === 'multichoice' || item.extendable
						"
					>
						<el-tag
							v-for="(opt, index) in scope.row[item.id]"
							:key="index"
						>
							{{
								typeof opt === 'object'
									? item.hasOwnProperty('option_text')
										? opt[item.option_text]
										: opt['name']
									: item.hasOwnProperty('option')
									? item.option.find(o => o.value === opt)
										? item.option.find(o => o.value === opt)
												.text
										: 'N/A'
									: opt
							}}
						</el-tag>
					</div>
					<div v-else-if="item.type !== 'multichoice'">
						{{ scope.row[item.id] }}
					</div>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showDetail"
				label="Detail"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="primary"
						@click="detail_link(scope.row.id)"
						size="small"
					>
						Detail
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showEdit"
				label="Edit"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="success"
						@click="edit_link(scope.row.id)"
						size="small"
					>
						Edit
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showDelete"
				label="Delete"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="info"
						@click="deleteAction(scope.row.id)"
						size="small"
					>
						Delete
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showLink"
				:label="this.linkLabel"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="primary"
						@click="custom_link(scope.row.id)"
						size="small"
					>
						{{ linkLabel }}
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-for="(item, i) in extra_btn"
				align="center"
				:label="item.name"
				:key="i"
			>
				<template slot-scope="scope">
					<el-button
						type="primary"
						@click="custom_link(scope.row.id, item.path)"
						size="small"
					>
						{{ item.button_name }}
					</el-button>
				</template>
			</el-table-column>
		</el-table>
		<br />
		<el-pagination
			@size-change="handleSizeChange"
			@current-change="handleCurrentChange"
			:page-sizes="[5, 10, 15, 20]"
			:current-page.sync="current_page"
			layout="total, sizes, prev, pager, next, slot"
			:total="totalList"
		>
		</el-pagination>
		<p v-cloak v-if="this.showCreate && createPosition === 'bottom'">
			<el-button
				v-cloak
				v-if="this.showCreate && this.createPosition === 'bottom'"
				type="primary"
				@click="create_link()"
				size="small"
			>
				{{ this.createButtonText }}
			</el-button>
		</p>
	</div>
</template>

<script>
import axios from 'axios';
import Layout from '@/views/layout/Layout';

export default {
	filters: {
		statusFilter(status) {
			const statusMap = {
				published: 'success',
				draft: 'gray',
				deleted: 'danger'
			};
			return statusMap[status];
		}
	},
	data() {
		return {
			params: {},
			meta: {},
			list: null,
			listLoading: true,
			fields: [],
			fetchurl: '',
			edit: false,
			totalList: 0,
			original_list: [],
			show_list: [],
			items_per_page: 10,
			current_page: 1,
			start_index: 0,
			searchInput: '',
			itemID: [],
			extra_btn: []
		};
	},
	computed: {
		showDetail() {
			return !(
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'detail'
				) &&
				this.meta.actions.detail === 'disabled'
			);
		},
		showEdit() {
			return !(
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'edit'
				) &&
				this.meta.actions.edit === 'disabled'
			);
		},
		showDelete() {
			return !(
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'delete'
				) &&
				this.meta.actions.delete === 'disabled'
			);
		},
		showCreate() {
			return !(
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'createPosition'
				) &&
				this.meta.actions.createPosition === 'disabled'
			);
		},
		showLink() {
			return (
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'link'
				) &&
				this.meta.actions.link !== 'disabled'
			);
		},
		linkLabel() {
			return Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'link'
				) &&
				this.meta.actions.link.label
				? this.meta.actions.link.label
				: 'Link';
		},
		createPosition() {
			if (
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'createPosition'
				) &&
				['top', 'bottom'].includes(this.meta.actions.createPosition)
			) {
				return this.meta.actions.createPosition;
			} else {
				return '';
			}
		},
		createButtonText() {
			if (
				Object.prototype.hasOwnProperty.call(this.meta, 'actions') &&
				Object.prototype.hasOwnProperty.call(
					this.meta.actions,
					'createButtonText'
				) &&
				typeof this.meta.actions.createButtonText === 'string' &&
				this.meta.actions.createButtonText
			) {
				return this.meta.actions.createButtonText;
			} else {
				return 'New';
			}
		},
		showEditTable() {
			return this.edit;
		}
	},
	created() {
		if (!this.params) {
			this.params = {};
		}
		if (this.params.extra_btn) {
			this.extra_btn = this.params.extra_btn;
		}
		if (this.params.list && this.params.fields) {
			this.fields = this.params.fields;
			this.original_list = this.params.list;
			this.list = this.original_list;
			this.totalList = this.list.length;
			this.showList(this.start_index, this.items_per_page);
			this.listLoading = false;
		} else {
			this.fetchData();
		}
	},
	methods: {
		handleChange(value) {
			if (value === '') {
				this.totalList = this.original_list.length;
				this.list = this.original_list;
				this.handleCurrentChange(1);
				this.$message(`Show total ${this.totalList} results.`);
			} else {
				const tmpList = this.list;
				let filtered = [];
				for (const key of this.itemID) {
					let tmpArray = this.createFilter(tmpList, key, value);
					if (tmpArray.length != 0) {
						filtered.push(tmpArray);
					}
				}
				filtered = [...new Set([].concat.apply([], filtered))];

				this.totalList = filtered.length;
				this.list = filtered;

				this.showList(this.start_index, this.items_per_page);
				this.$message(`${this.totalList} results found.`);
			}
		},
		createFilter(array, key, value) {
			return array.filter(e => {
				if (typeof e[key] == 'string') {
					return e[key].toLowerCase().includes(value.toLowerCase());
				} else if (typeof e[key] == 'number') {
					return e[key]
						.toString()
						.toLowerCase()
						.includes(value.toString().toLowerCase());
				}
			});
		},
		handleSizeChange(val) {
			this.items_per_page = val;
			this.handleCurrentChange(1);
		},
		handleCurrentChange(val) {
			this.current_page = val;
			let new_val = val - 1;
			this.start_index = this.items_per_page * new_val;
			this.showList(this.start_index, this.items_per_page);
		},
		fetchData() {
			for (let item of this.$route.matched) {
				if (this.$route.path === item.path && item.props) {
					let props = item.props.default;
					if (props && props.edit) {
						this.edit = true;
					}
				}
			}
			this.listLoading = true;
			let url = `${
				process.env.VUE_APP_API_URL ? process.env.VUE_APP_API_URL : ''
			}/api/${this.$route.path.split('/')[1]}`;
			this.fetchurl = url;
			let pageTypes = {
				list: () => import('@/views/sf_list/index'),
				update: () => import('@/views/sf_update/index'),
				detail: () => import('@/views/sf_detail/index')
			};
			axios.get(url).then(res => {
				this.fields = res.data.data ? res.data.data.fields : {};
				for (const field_item of this.fields) {
					this.itemID.push(field_item.id);
				}
				if (res.data.data.meta) {
					this.meta = Object.assign({}, res.data.data.meta);
				}
				const _pageTypes = Object.assign({}, pageTypes);
				if (this.meta && this.meta.page) {
					_pageTypes.update =
						this.meta.page.update &&
						Object.prototype.hasOwnProperty.call(
							pageTypes,
							this.meta.page.update
						)
							? pageTypes[this.meta.page.update]
							: pageTypes.update;
					_pageTypes.detail =
						this.meta.page.detail &&
						Object.prototype.hasOwnProperty.call(
							pageTypes,
							this.meta.page.detail
						)
							? pageTypes[this.meta.page.detail]
							: pageTypes.detail;
					_pageTypes.list =
						this.meta.page.list &&
						Object.prototype.hasOwnProperty.call(
							pageTypes,
							this.meta.page.list
						)
							? pageTypes[this.meta.page.list]
							: pageTypes.list;
				}
				let detailParentRoute = this.$store.state.routeList.find(
					route => route.path === `/${this.$route.path.split('/')[1]}`
				) || {
					path: `/${this.$route.path.split('/')[1]}`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				};
				let updateParentRoute = this.$store.state.routeList.find(
					route =>
						route.path ===
						`/${this.$route.path.split('/')[1]}/update`
				) || {
					path: `/${this.$route.path.split('/')[1]}/update`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				};
				let current_url = this.$route.path;
				let values = Object.keys(res.data.data.values).map(key =>
					Object.assign(res.data.data.values[key], { id: key })
				);
				Object.keys(res.data.data.values).forEach(key => {
					let detail_url = `${current_url.replace('list', '')}${key}`;
					let detailRoute = {
						path: detail_url,
						name: `detail_${this.$route.path.split('/')[1]}_${key}`,
						component: _pageTypes.detail,
						hidden: true
					};
					detailParentRoute.children.push(detailRoute);
					let update_url = `${current_url.replace(
						'list',
						'update/'
					)}:${key}`;
					let updateRoute = {
						path: update_url,
						name: 'update page',
						component: _pageTypes.update,
						hidden: true
					};
					updateParentRoute.children.push(updateRoute);
				});
				this.$router.addRoutes([detailParentRoute, updateParentRoute]);
				this.original_list = values;
				this.list = this.original_list;
				this.totalList = this.original_list.length;
				this.showList(this.start_index, this.items_per_page);
				this.listLoading = false;
			});
		},
		showList(start_index, items_per_page) {
			this.show_list = [];
			if (this.totalList > items_per_page) {
				for (
					let i = start_index;
					i < start_index + items_per_page;
					i++
				) {
					if (this.list[i] == null) return;
					this.show_list.push(this.list[i]);
				}
			} else {
				this.show_list = this.list;
			}
		},
		create_link() {
			let current_url = this.$route.path;
			let create_url = `${current_url.replace('list', 'create')}`;
			this.$router.push(create_url);
		},
		detail_link(row_id) {
			let detail_route_name = `detail_${
				this.$route.path.split('/')[1]
			}_${row_id}`;
			this.$router.push({ name: detail_route_name });
		},
		edit_link(id) {
			let current_url = this.$route.path;
			let update_url = `${current_url.replace('list', 'update')}/${id}`;
			this.$router.push(update_url);
		},
		custom_link(id, path) {
			path = path || this.meta.actions.link.url;
			let custom_url = path.replace(':id', id);
			this.$router.push(custom_url);
		},
		edit_table() {
			//alert('edit table');
		},
		deleteAction(id) {
			let current_url = this.$route.path;
			let delete_url = `/api${current_url.replace('list', '')}${id}`;
			this.$confirm(
				'This operation will delete the record permanently, continue?',
				'Warning',
				{
					confirmButtonText: 'Yes',
					cancelButtonText: 'Cancel',
					type: 'warning'
				}
			)
				.then(() => {
					return axios.delete(delete_url);
				})
				.then(() => {
					this.fetchData();
					this.$message({
						type: 'success',
						message: 'success!'
					});
				});
		}
	}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
[v-clock] {
	display: none;
}
.search-input {
	margin-bottom: 30px;
	width: 400px;
}
.edit_table {
	position: absolute;
	right: 35px;
}
</style>
