<template>
	<div class="app-container">
		<Update
			v-if="forms_data.length === 1"
			:ref="forms_data[0].form"
			:params="{
				title: forms_data[0].label,
				form_name: forms_data[0].form,
				record_id: forms_data[0].record_id || '',
				isUpdate: forms_data[0].hasOwnProperty('record_id'),
				lock_all: lock_all,
				lock,
				unlock,
				shows,
				hidden,
				hide_submit: true
			}"
			@onUpdate="onUpdate"
		></Update>

		<el-tabs v-if="forms_data.length > 1" :tab-position="tabPosition">
			<el-tab-pane
				:key="item"
				v-for="item in forms_data"
				:label="item.label"
			>
				<Update
					:ref="item.form"
					:params="{
						title: item.label,
						form_name: item.form,
						record_id: item.record_id || '',
						isUpdate: item.hasOwnProperty('record_id'),
						lock_all: lock_all,
						lock,
						unlock,
						shows,
						hidden,
						hide_submit: true
					}"
				></Update>
			</el-tab-pane>
		</el-tabs>
	</div>
</template>

<script>
import Update from '@/views/sf_update';

export default {
	props: ['params'],
	components: {
		Update
	},
	data() {
		return {
			tabPosition: 'left'
		};
	},
	computed: {
		forms_data: function() {
			if (this.params && this.params.forms_data) {
				return this.params.forms_data;
			} else {
				return [];
			}
		},
		lock: function() {
			if (this.params && this.params.lock) {
				return this.params.lock;
			} else {
				return [];
			}
		},
		unlock: function() {
			if (this.params && this.params.unlock) {
				return this.params.unlock;
			} else {
				return [];
			}
		},
		lock_all: function() {
			if (this.params && this.params.lock_all) {
				return this.params.lock_all;
			} else {
				return false;
			}
		},
		shows: function() {
			if (this.params && this.params.shows) {
				return this.params.shows;
			} else {
				return [];
			}
		},
		hidden: function() {
			if (this.params && this.params.hidden) {
				return this.params.hidden;
			} else {
				return [];
			}
		},
		show_all: function() {
			if (this.params && this.params.show_all) {
				return this.params.show_all;
			} else {
				return false;
			}
		}
	},
	created() {
		console.log('近來tab view');
		console.log(this.forms_data);
		console.log(this.params.forms_data);
	},
	methods: {
		validate() {
			return new Promise(resolve => {
				let all_p = [];

				for (let item of this.forms_data) {
					let form_name = item.form;
					let temp = null;
					if (Array.isArray(this.$refs[form_name])) {
						temp = this.$refs[form_name][0];
					} else {
						temp = this.$refs[form_name];
					}
					all_p.push(
						new Promise((resolve, reject) => {
							temp.validate('form').then(valid => {
								if (valid) {
									resolve();
								} else {
									reject(
										`請確認表單 ${item.label ||
											form_name} 必填欄位是否填寫完成`
									);
								}
							});
						})
					);
				}

				Promise.all(all_p)
					.then(() => {
						resolve(true);
					})
					.catch(error => {
						// 接throw new Error
						this.$message({
							message: error,
							type: 'warning'
						});
						resolve(false);
					});
			});
		},
		getForms() {
			let forms = {};
			console.log('tab_view getForms');

			for (let item of this.forms_data) {
				let form_name = item.form;
				if (Array.isArray(this.$refs[form_name])) {
					this.$refs[form_name][0].getForms().then(forms => {
						console.log('取得的forms');
						console.log(forms);
					});
				} else {
					this.$refs[form_name].form;
				}
			}

			for (let item of this.forms_data) {
				let form_name = item.form;
				if (Array.isArray(this.$refs[form_name])) {
					forms[form_name] = this.$refs[form_name][0].form;
				} else {
					forms[form_name] = this.$refs[form_name].form;
				}
			}
			return forms;
		},
		resetForms() {
			let vm = this;
			return new Promise(function(resolve) {
				let all_p = [];
				for (let item of vm.forms_data) {
					let form_name = item.form;
					all_p.push(
						new Promise(resolve => {
							vm.$refs[form_name][0].resetForm();
							resolve();
						})
					);
				}
				Promise.all(all_p).then(() => {
					resolve();
				});
			});
		}
	}
};
</script>
