<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<Form
			:ref="`${form_name}-update`"
			:params="{
				form_name,
				form,
				fields,
				rules,
				record_id
			}"
		></Form>
		<div v-if="!hide_submit">
			<el-button type="success" @click="onUpdate('form')"
				>Update</el-button
			>
			<el-button @click="onCancel()">Cancel</el-button>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import { update } from '@/api/form';
import Form from '@/views/sf_form';

export default {
	name: 'Dashboard',
	props: ['params'],
	components: {
		SFTitle,
		Form
	},
	data: function() {
		return {
			fields: {},
			page: '',
			form: {},
			rules: {},
			options: {}
		};
	},
	created() {
		this.init();
	},
	computed: {
		...mapGetters(['roles']),
		title: function() {
			if (this.params && this.params.title) {
				return this.params.title;
			} else {
				return null;
			}
		},
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return this.$route.path.split('/')[1];
			}
		},
		record_id: function() {
			if (this.params && this.params.record_id) {
				return this.params.record_id;
			} else if (this.$route.path.split('/').length > 3) {
				return this.$route.path.split('/')[3];
			} else {
				return '';
			}
		},
		schemaUrl: function() {
			let defaultUrl = `/api/${this.form_name}/${this.record_id}`;
			return this.$route.meta
				? this.$route.meta.schemaUrl
					? this.$route.meta.schemaUrl
					: defaultUrl
				: defaultUrl;
		},
		submitUrl: function() {
			let defaultUrl = `/api/${this.form_name}/${this.record_id}`;
			return this.$route.meta
				? this.$route.meta.submitUrl
					? this.$route.meta.submitUrl
					: defaultUrl
				: defaultUrl;
		},
		isUpdate: function() {
			if (
				this.params &&
				Object.prototype.hasOwnProperty.call(this.params, 'isUpdate')
			) {
				return this.params.isUpdate;
			} else {
				return true;
			}
		},
		lock: function() {
			if (this.params && this.params.lock) {
				return this.params.lock;
			} else {
				return [];
			}
		},
		unlock: function() {
			if (this.params && this.params.unlock) {
				return this.params.unlock;
			} else {
				return [];
			}
		},
		lock_all: function() {
			if (this.params && this.params.lock_all) {
				return this.params.lock_all;
			} else {
				return false;
			}
		},
		shows: function() {
			if (this.params && this.params.shows) {
				return this.params.shows;
			} else {
				return [];
			}
		},
		hidden: function() {
			if (this.params && this.params.hidden) {
				return this.params.hidden;
			} else {
				return [];
			}
		},
		show_all: function() {
			if (this.params && this.params.show_all) {
				return this.params.show_all;
			} else {
				return false;
			}
		},
		hide_submit: function() {
			if (this.params && this.params.hide_submit) {
				return this.params.hide_submit;
			} else {
				return false;
			}
		}
	},
	methods: {
		init() {
			const string_type = ['string', 'date', 'choice'];
			const array_type = ['multichoice'];
			// const object_type = [];
			// const boolean_type = ['boolean'];
			var validatePass = (rule, value, callback) => {
				if (value === '') {
					callback(new Error('Please input again'));
				} else if (value !== this.form.password) {
					// eslint-disable-next-line prettier/prettier
					callback(new Error('Password does not match!'));
				} else {
					callback();
				}
			};
			axios.get(this.schemaUrl).then(response => {
				let data = response.data;
				this.name = data.name;
				this.title = this.title || data.title;
				this.fields = data.data.fields;
				this.page = data.page;
				this.options = data.data.meta || {};
				let form_data = {};
				if (this.isUpdate) {
					form_data = Object.values(data.data.values)[0];
				}

				let rule_data = {};
				this.fields.forEach(field => {
					let field_type = field.type;
					let rulesArray = [];
					if (
						string_type.includes(field_type) &&
						!Object.prototype.hasOwnProperty.call(
							form_data,
							field.id
						) &&
						!field.extendable
					) {
						form_data[field.id] = '';
					} else if (
						array_type.includes(field_type) ||
						field.extendable
					) {
						if (
							!Object.prototype.hasOwnProperty.call(
								form_data,
								field.id
							)
						) {
							form_data[field.id] = [];
						} else {
							if (!Array.isArray(form_data[field.id])) {
								form_data[field.id] = [];
							}
						}
					}
					if (
						field.required &&
						!field.immutable &&
						field.type !== 'password'
					)
						rulesArray.push({
							required: field.required,
							message: `Please input ${field.name}`
						});
					if (field_type === 'number')
						rulesArray.push({
							type: 'number',
							message: 'Please input number only'
						});
					if (field.id === 'email')
						rulesArray.push({
							type: 'email',
							message: 'Please input correct email address'
						});
					if (field.id === 'password') {
						let confirmRules = [
							...rulesArray,
							{ validator: validatePass, trigger: 'blur' }
						];
						rule_data[`_confirm_${field.id}`] = confirmRules;
					}
					if (field.validation) {
						field.validation.pattern = field.validation.pattern
							.split('/')
							.filter(param => !!param);
						rulesArray.push({
							pattern: new RegExp(...field.validation.pattern),
							message: field.validation.message,
							trigger: field.validation.trigger || 'change'
						});
					}
					rule_data[field.id] = rulesArray;

					if (field_type === 'sub_model') {
						if (
							!Object.prototype.hasOwnProperty.call(
								form_data,
								field.id
							)
						) {
							form_data[field.id] = [];
						} else {
							if (!Array.isArray(form_data[field.id])) {
								form_data[field.id] = [];
							}
						}
					}

					// handler disabled
					if (this.lock_all) {
						field.immutable = true;
					} else if (this.lock.length !== 0) {
						if (this.lock.indexOf(field.id) !== -1) {
							field.immutable = true;
						} else {
							field.immutable = false;
						}
					} else if (this.unlock.length !== 0) {
						if (this.unlock.indexOf(field.id) !== -1) {
							field.immutable = false;
						} else {
							field.immutable = true;
						}
					}

					// handler show
					if (typeof field.show === 'undefined') {
						field.show = true;
					}

					if (this.show_all) {
						field.show = true;
					} else if (this.shows.length !== 0) {
						if (this.shows.indexOf(field.id) !== -1) {
							field.show = true;
						} else {
							field.show = false;
						}
					} else if (this.hidden.length !== 0) {
						if (this.hidden.indexOf(field.id) !== -1) {
							field.show = false;
						} else {
							field.show = true;
						}
					}
				});
				this.form = Object.assign({}, form_data);
				this.rules = rule_data;
			});
		},
		onUpdate() {
			this.$refs[`${this.form_name}-update`].validate().then(valid => {
				this.$refs[`${this.form_name}-update`].getForms().then(form => {
					if (this.$listeners.onUpdate) {
						this.$emit('onUpdate', form);
					} else {
						update(this.submitUrl, form, err => {
							if (err) {
								this.$message({
									message: 'Update!',
									type: 'success'
								});
							} else {
								this.$message({
									message: 'Update!',
									type: 'success'
								});
								if (
									Object.prototype.hasOwnProperty.call(
										this.options,
										'actions'
									)
								) {
									if (
										this.options.actions.afterUpdated ===
										'last'
									) {
										this.$router.go(-1);
									} else if (
										this.options.actions.afterUpdated ===
										'refresh'
									) {
										this.init();
									}
								}
							}
						});
					}
				});
			});
		},
		onCancel() {
			this.$router.go(-1);
		},
		validate() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs[`${vm.form_name}-update`].validate().then(valid => {
					resolve(valid);
				});
			});
		},
		resetForm() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs[`${vm.form_name}-update`].resetFields().then(() => {
					resolve();
				});
			});
		},
		getForms() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs[`${vm.form_name}-update`].getForms().then(form => {
					resolve(form);
				});
			});
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
