<template>
	<div class="dashboard-container">
		<!-- <div class="dashboard-text">name:{{ name }}</div> -->
		<!-- <div class="dashboard-text">roles:<span v-for="role in roles" :key="role">{{ role }}</span></div> -->
		<flexform :formItems="formItems" :params="params"></flexform>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import flexform from '@/components/Flexform.vue';

export default {
	name: 'Dashboard',
	components: {
		flexform
	},
	data: function() {
		return {
			formItems: [],
			params: {},
			page: ''
		};
	},
	created() {
		fetch('https://next.json-generator.com/api/json/get/NJ4h3sctI')
			.then(res => {
				return res.json();
			})
			.then(json => {
				this.formItems = json.formItems;
				this.params = json.params;
				this.page = json.page;
			});
	},
	computed: {
		...mapGetters(['name', 'roles'])
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
