<template>
	<div class="app-container">
		<SFTitle :params="{ text: '表單基本料', level: 2 }"></SFTitle>
		<el-form
			ref="info"
			:inline="true"
			label-position="left"
			label-width="120px"
			class="form_info"
		>
			<el-form-item label="狀態">
				<el-input :disabled="true" :value="title"></el-input>
			</el-form-item>
			<template v-for="item in header">
				<el-form-item :key="item.label" :label="item.label">
					<el-input :disabled="true" :value="item.value"></el-input>
				</el-form-item>
			</template>
		</el-form>

		<SFTitle :params="{ text: '填寫表單', level: 2 }"></SFTitle>
		<TabView
			ref="tab_forms"
			:params="{ forms_data: form_names, lock, unlock, shows, hidden }"
		></TabView>

		<SFTitle :params="{ text: '審核紀錄', level: 2 }"></SFTitle>

		<el-table
			:data="review_history"
			style="width: 100%;margin-bottom: 20px;"
			row-key="id"
			border
			default-expand-all
			:default-sort="{ prop: 'datetime', order: 'ascending' }"
		>
			<el-table-column prop="datetime" label="日期" sortable>
			</el-table-column>
			<el-table-column prop="step" label="狀態"> </el-table-column>
			<el-table-column prop="reviewer" label="審核人"> </el-table-column>
			<el-table-column prop="option" label="選項"> </el-table-column>
			<el-table-column prop="comment" label="評論"> </el-table-column>
		</el-table>

		<SFTitle :params="{ text: '審核', level: 2 }"></SFTitle>
		<el-form
			:model="review"
			:rules="rules"
			ref="form"
			label-position="left"
			label-width="120px"
		>
			<el-form-item label="審核選項" prop="option">
				<el-select v-model="review.option">
					<el-option
						v-for="opt in review_options"
						:key="`${opt}`"
						:label="opt"
						:value="opt"
					/>
				</el-select>
			</el-form-item>
			<el-form-item label="評論" prop="comment">
				<el-input
					type="textarea"
					:rows="5"
					placeholder="請輸入評論"
					v-model="review.comment"
				>
				</el-input>
			</el-form-item>

			<el-form-item
				v-if="handler_candidates.length !== 0"
				label="指派人員"
				prop="appoint"
			>
				<el-select
					v-model="handler_accounts"
					multiple
					placeholder="請選擇"
					collapse-tags
				>
					<el-option-group
						v-for="group in handler_candidates"
						:key="group.label"
						:label="group.label"
					>
						<el-option
							v-for="item in group.options"
							:key="item.value"
							:label="item.label"
							:value="item.value"
						>
						</el-option>
					</el-option-group>
				</el-select>
			</el-form-item>
		</el-form>

		<div>
			<el-button type="success" @click="onUpdate('form')"
				>Update</el-button
			>
			<el-button @click="onCancel()">Cancel</el-button>
			<el-button
				v-for="item in bottom_button"
				:key="item.id"
				:type="item.type"
				:icon="item.icon"
				@click="downloadFile(item.id)"
				>{{ item.text }}</el-button
			>
			<a
				v-for="item in bottom_button"
				:key="item.id"
				:id="item.id"
				:href="item.link"
				:download="item.fileName"
				hidden
			></a>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import TabView from '@/views/sf_tab_view';
import SFTitle from '@/components/SFTitle.vue';

export default {
	props: ['params'],
	components: {
		TabView,
		SFTitle
	},
	filters: {},
	data() {
		return {
			title: '',
			header: [],
			review: {},
			rules: {
				option: [
					{ required: true, message: 'Please select review option.' }
				],
				appoint: [
					{
						required: true,
						message: 'Please assign someone to handle.',
						trigger: 'change',
						type: 'array'
					}
				]
			},
			form_names: [],
			fields: {},
			form: {},
			flow_name: this.$route.path.split('/')[1],
			comment: '',
			review_options: [],
			lock: [],
			unlock: [],
			shows: [],
			hidden: [],

			review_history: [],

			handler_candidates: [],
			handler_accounts: [],
			bottom_button: []
		};
	},
	computed: {
		flow_record_id: function() {
			return this.$route.path.split('/')[4];
		}
	},
	created() {
		axios
			.post('/api/get_flow_step', {
				flow_name: this.flow_name,
				flow_record_id: this.flow_record_id
			})
			.then(response => {
				let data = response.data;
				let {
					forms,
					current_step,
					flow,
					candidates,
					header,
					form_names,
					bottom_button,
					review_history
				} = data;
				let current_flow = flow.steps[current_step];
				console.log('GET_FLOW_STEP');
				console.log(data);
				console.log(bottom_button);
				this.header = header;
				this.handler_candidates = candidates;
				this.lock = current_flow.lock;
				this.unlock = current_flow.unlock;
				this.shows = current_flow.shows;
				this.hidden = current_flow.hidden;
				this.title = current_flow.title;
				this.review = {
					option: current_flow.default_option || null
				};
				this.review_options = current_flow.option;
				for (let item of form_names) {
					item.record_id = forms[item.form];
				}
				this.form_names = form_names;

				this.review_history = review_history;
				this.bottom_button = bottom_button;
			});
	},
	methods: {
		onUpdate() {
			new Promise((resolve, reject) => {
				this.$refs.tab_forms.validate().then(success => {
					if (!success) {
						return;
					}
					let forms = this.$refs.tab_forms.getForms();
					if (!this.review.option) {
						return reject('請選擇審核選項');
					}
					if (
						this.handler_candidates.length !== 0 &&
						this.handler_accounts.length === 0
					) {
						return reject('請選擇指派人員');
					}
					axios
						.post('/api/flow_review', {
							flow_name: this.flow_name,
							flow_record_id: this.flow_record_id,
							forms,
							review: this.review,
							handler_accounts: this.handler_accounts
						})
						.then(response => {
							this.$message({
								message: 'Review success!',
								type: 'success'
							});
							this.$router.go(-1);
						});
				});
			}).catch(error => {
				this.$message({
					type: 'warning',
					message: error
				});
			});
		},
		onCancel() {
			this.$router.go(-1);
		},
		downloadFile(id) {
			console.log('click download');
			console.log(id);
			document.getElementById(id).click();
			// this.download(link, fileName);
		}
	}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
[v-clock] {
	display: none;
}
.search-input {
	margin-bottom: 30px;
	width: 400px;
}
.edit_table {
	position: absolute;
	right: 35px;
}
.form_info {
	border-radius: 4px;
}
</style>
