<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<el-form class="el-form" :model="form" label-width="120px">
			<el-form-item
				v-for="(field, index) in fields"
				:label="field.name"
				:key="`field${index}`"
				:for="field.id"
			>
				<div v-if="field.type === 'number'">
					{{ form.hasOwnProperty(field.id) ? form[field.id] : '' }}
				</div>
				<div
					v-if="
						string_type.includes(field.type) &&
							field.type !== 'choice'
					"
				>
					{{ form[field.id] }}
				</div>
				<div v-if="field.type === 'choice'">
					{{
						form[field.id] && typeof form[field.id] === 'string'
							? field.option.find(e => e.value === form[field.id])
								? field.option.find(
										e => e.value === form[field.id]
								  ).text
								: 'N/A'
							: typeof form[field.id] === 'object'
							? field.option.find(
									e => e.value === form[field.id].id
							  )
								? field.option.find(
										e => e.value === form[field.id].id
								  ).text
								: 'N/A'
							: 'N/A'
					}}
				</div>
				<div v-if="field.type === 'boolean'">
					{{
						form[field.id]
							? form[field.id] === 'true'
								? 'Yes'
								: 'No'
							: 'No'
					}}
				</div>
				<div v-if="field.type === 'multichoice'">
					<el-tag v-for="(opt, index) in form[field.id]" :key="index">
						{{
							typeof opt === 'object'
								? field.hasOwnProperty('option_text')
									? opt[field.option_text]
									: opt['name']
								: field.option.find(o => o.value === opt)
								? field.option.find(o => o.value === opt).text
								: 'N/A'
						}}
					</el-tag>
				</div>
			</el-form-item>
			<el-form-item v-if="can_edit">
				<el-button type="primary" @click="onEdit">Edit</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';

export default {
	name: 'Dashboard',
	props: ['params'],
	components: {
		SFTitle
	},
	data: function() {
		return {
			title: '',
			fields: {},
			page: '',
			form: {},
			string_type: ['string', 'date', 'choice', 'email'],
			array_type: ['multichoice']
		};
	},
	created() {
		// const string_type = ['string', 'date', 'choice'];
		// const array_type = ['multichoice'];
		// const object_type = [];
		// const boolean_type = ['boolean'];

		axios.get(this.url).then(response => {
			let data = response.data;
			this.name = data.name;
			this.title = data.title;
			this.fields = data.data.fields;
			this.page = data.page;
			let form_data = Object.values(data.data.values)[0];
			this.fields.forEach(field => {
				let field_type = field.type;
				if (
					this.string_type.includes(field_type) &&
					!Object.prototype.hasOwnProperty.call(form_data, field.id)
				) {
					form_data[field.id] = '';
				} else if (
					this.array_type.includes(field_type) &&
					!Object.prototype.hasOwnProperty.call(form_data, field.id)
				) {
					form_data[field.id] = [];
				}
			});
			this.form = form_data;
		});
	},
	computed: {
		...mapGetters(['roles']),
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return this.$route.path.split('/')[1];
			}
		},
		record_id: function() {
			if (this.params && this.params.record_id) {
				return this.params.record_id;
			} else {
				return this.$route.path.split('/')[2];
			}
		},
		can_edit: function() {
			if (this.params && typeof this.params.can_edit !== 'undefined') {
				return this.params.can_edit;
			} else {
				return true;
			}
		},
		url: function() {
			let defaultUrl = `/api/${this.form_name}/${this.record_id}`;
			return this.$route.meta
				? this.$route.meta.schemaApi
					? this.$route.meta.schemaApi
					: defaultUrl
				: defaultUrl;
		}
	},
	methods: {
		onEdit() {
			let update_url = `update/${this.$route.path.split('/')[2]}`;
			console.log(update_url);
			this.$router.push(update_url);
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
.el-tag {
	margin-right: 12px;
}
</style>
