<template>
	<div>
		<input
			v-for="item in params.list"
			type="radio"
			:name="params.name"
			:value="item.value"
			:key="item.value"
		/>
		{{ item.value }}
		<br />
	</div>
</template>

<script>
export default {
	props: ['params']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
