<template>
	<div>
		<sf-label
			:label_text="params.label"
			:label_for="params.name || params.id"
		></sf-label>
		<input
			type="text"
			:id="params.id"
			:value="params.value"
			:placeholder="params.placeholder"
			:name="params.name || params.id"
			:readonly="params.readonly"
		/>
	</div>
</template>

<script>
import sfLabel from './SF-label.vue';
export default {
	props: ['params'],
	components: {
		'sf-label': sfLabel
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
