<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>

		<TabView
			ref="tab_forms"
			:params="{ forms_data, lock, unlock, shows, hidden }"
		></TabView>
		<div v-if="forms_data.length > 1">
			<el-button type="primary" @click="onSubmit('form')"
				>Create</el-button
			>
			<el-button @click="onReset('form')">Reset</el-button>
		</div>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import TabView from '@/views/sf_tab_view';
export default {
	name: 'Dashboard',
	components: {
		SFTitle,
		TabView
	},
	data: function() {
		return {
			tabPosition: 'left',
			title: '',
			// fields: {},
			page: '',
			form: {},
			api: {},
			rules: {},
			forms_data: [],
			lock: [],
			unlock: [],
			shows: [],
			hidden: []
		};
	},
	created() {
		axios
			.post('/api/get_flow_create', {
				flow_name: this.flow_name
			})
			.then(response => {
				let data = response.data;
				this.forms_data = data.forms_data;
				console.log('create flow forms_data = ');
				console.log(this.forms_data);
				this.title = data.title;
				let step = data.step;
				this.lock = step.lock;
				this.unlock = step.unlock;
				this.shows = step.shows;
				this.hidden = step.hidden;
			});
	},
	mounted() {},
	computed: {
		...mapGetters(['roles']),
		flow_name: function() {
			let defaultUrl = this.$route.path.split('/')[1];
			return this.$route.meta
				? this.$route.meta.flow_name
					? this.$route.meta.flow_name
					: defaultUrl
				: defaultUrl;
		}
	},
	methods: {
		onSubmit() {
			this.$refs.tab_forms.validate().then(success => {
				if (!success) {
					return;
				}
				let forms = this.$refs.tab_forms.getForms();
				axios
					.post('/api/create_flow', {
						name: this.flow_name,
						forms
					})
					.then(response => {
						let data = response.data;
						console.log('CREATE_FLOW done');
						this.resetForms();
						this.$message({
							message: 'Flow form Submit!',
							type: 'success'
						});
					});
			});
		},
		onReset() {
			this.$confirm('Are you sure to reset?', 'Warning', {
				confirmButtonText: 'Yes',
				cancelButtonText: 'Cancel',
				type: 'warning'
			})
				.then(() => {
					this.resetForms();
				})
				.then(() => {
					this.$message({
						message: 'Reset!',
						type: 'warning'
					});
				});
		},
		resetForms() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs.tab_forms.resetForms().then(() => {
					resolve();
				});
			});
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
