<template>
	<div class="app-container">
		<SFTitle :params="{ text: '表單基本料', level: 2 }"></SFTitle>
		<el-form
			ref="info"
			:inline="true"
			label-position="left"
			label-width="120px"
			class="form_info">
			<el-form-item label="狀態">
				<el-input
					:disabled="true"
					:value="title"></el-input>
			</el-form-item>
			<template v-for="item in header">
				<el-form-item
					:key='item.label'
					:label="item.label">
					<el-input
						:disabled="true"
						:value="item.value"></el-input>
			</template>
		</el-form>

		<SFTitle :params="{ text: '表單', level: 2 }"></SFTitle>
		<TabView ref="tab_forms" :params="{ forms_data: form_names, lock, unlock, shows, hidden, lock_all: !editPermission }"></TabView>

		<el-form
			v-if="editPermission"
			:model="review"
			:rules="rules"
			ref="form"
			label-position="left"
			label-width="120px"
		>
			<el-form-item label="送審選項" prop="option">
				<el-select v-model="review.option">
					<el-option
						v-for="opt in review_options"
						:key="`${opt}`"
						:label="opt"
						:value="opt"
					/>
				</el-select>
			</el-form-item>
			<el-form-item label="說明" prop="comment">
				<el-input
					type="textarea"
					:rows="5"
					placeholder="請輸入說明"
					v-model="review.comment"
				>
				</el-input>
			</el-form-item>
		</el-form>

		<div>
			<el-button
				v-if="editPermission"
				type="primary" @click="onUpdate('review')"
				>送審</el-button
			>
			<el-button
				v-if="editPermission"
				type="success" @click="onUpdate()"
				>Update</el-button
			>
			<el-button @click="onCancel()">Cancel</el-button>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import TabView from '@/views/sf_tab_view';
import SFTitle from '@/components/SFTitle.vue';

export default {
	props: ['params'],
	components: {
		TabView,
		SFTitle
	},
	filters: {},
	data() {
		return {
			editPermission: true,
			title: '',
			header: [],
			form_names: [],
			fields: {},
			form: {},
			lock: [],
			unlock: [],
			shows: [],
			hidden: [],
			review: {},
			review_options: []
		};
	},
	computed: {
		flow_record_id: function() {
			return this.$route.path.split('/')[4];
		},
		flow_name: function() {
			if (this.$route.query.flow_id) {
				return this.$route.query.flow_id;
			} else {
				return this.$route.path.split('/')[1];
			}
		}
	},
	created() {
		axios
			.post('/api/get_flow_step', {
				flow_name: this.flow_name,
				flow_record_id: this.flow_record_id
			})
			.then(response => {
				let data = response.data;
				let {
					forms,
					current_step,
					flow,
					header,
					editPermission,
					form_names
				} = data;
				let current_flow = flow.steps[current_step];
				console.log('GET_FLOW_STEP');
				console.log(data);
				this.header = header;
				this.lock = current_flow.lock;
				this.unlock = current_flow.unlock;
				this.shows = current_flow.shows;
				this.hidden = current_flow.hidden;
				this.title = current_flow.title;
				this.review_options = current_flow.option;
				this.review = {
					option: current_flow.default_option || null
				};
				for (let item of form_names) {
					item.record_id = forms[item.form];
				}
				this.form_names = form_names;
				this.editPermission = editPermission;
			});
	},
	methods: {
		onUpdate(review) {
			new Promise((resolve, reject) => {
				this.$refs.tab_forms.validate().then(success => {
					if (!success) {
						return;
					}
					let forms = this.$refs.tab_forms.getForms();
					if (!this.review.option) {
						return reject('請選擇審核選項');
					}
					axios
						.post('/api/flow_review', {
							flow_name: this.flow_name,
							flow_record_id: this.flow_record_id,
							forms,
							review: review ? this.review : null
						})
						.then(response => {
							this.$message({
								message: 'Review success!',
								type: 'success'
							});
							this.$router.go(-1);
						});
				});
			}).catch(error => {
				this.$message({
					type: 'warning',
					message: error
				});
			});
		},
		onCancel() {
			this.$router.go(-1);
		}
	}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
	[v-clock] {
		display: none;
	}
	.search-input{
		margin-bottom: 30px;
		width: 400px;
	}
	.edit_table {
		position: absolute;
		right: 35px;
	}
	.form_info {
		border-radius: 4px
	}
</style>