<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<List
			v-if="list"
			:params="{
				list: list,
				fields: fields,
				actions: {
					edit: 'disabled',
					delete: 'disabled',
					detail: 'disabled'
				},
				extra_btn: [
					{
						name: buttonField,
						button_name: buttonName,
						path: buttonPath
					}
				]
			}"
		></List>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import List from '@/views/sf_list';
import Layout from '@/views/layout/Layout';
export default {
	name: 'Dashboard',
	components: {
		SFTitle,
		List
	},
	data: function() {
		return {
			title: '',
			fields: [],
			page: '',
			form: {},
			api: {},
			rules: {},
			form_name: '',
			flow_name: this.$route.path.split('/')[1],
			list: null
		};
	},
	created() {
		axios
			.post('/api/get_flow_list', {
				flow_name: this.flow_name,
				status: this.type
			})
			.then(response => {
				let data = response.data;
				this.fields = data.fields;
				this.list = data.list;

				// 產生審核連結的 page route
				let parentRoute = this.$store.state.routeList.find(
					route =>
						route.path === `/${this.$route.path}/${this.buttonPath}`
				) || {
					path: `/${this.$route.path}/${this.buttonPath}`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				};
				let current_url = this.$route.path;
				console.log('current_url = ');
				console.log(current_url);

				for (let item of this.list) {
					let key = item.id;
					let detail_url = `${current_url}/${this.buttonPath}/${key}`;
					let route = {
						path: detail_url,
						name: `${this.buttonPath}_${
							this.$route.path.split('/')[1]
						}_${key}`,
						component: () => this.useComponent,
						hidden: true
					};
					parentRoute.children.push(route);
				}
				this.$router.addRoutes([parentRoute]);
			});
	},
	mounted() {},
	computed: {
		...mapGetters(['roles']),
		type: function() {
			return this.$route.meta.type;
		},
		buttonField: function() {
			if (this.type === 'pending') {
				return '審核';
			} else if (this.type === 'processed') {
				return '檢視';
			} else if (this.type === 'done') {
				return '檢視';
			} else {
				return '';
			}
		},
		buttonName: function() {
			if (this.type === 'pending') {
				return 'Review';
			} else if (this.type === 'processed') {
				return 'Detail';
			} else if (this.type === 'done') {
				return 'Detail';
			} else {
				return '';
			}
		},
		buttonPath: function() {
			if (this.type === 'pending') {
				return 'review';
			} else if (this.type === 'processed') {
				return 'detail';
			} else if (this.type === 'done') {
				return 'detail';
			} else {
				return '';
			}
		},
		useComponent: function() {
			if (this.type === 'pending') {
				return import('@/views/sf_flow_review/index');
			} else if (this.type === 'processed') {
				return import('@/views/sf_flow_detail/index');
			} else if (this.type === 'done') {
				return import('@/views/sf_flow_detail/index');
			} else {
				return '';
			}
		}
	},
	methods: {}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
