<template>
	<div class="app-container">
		<el-form
			class="el-form"
			:model="form"
			:rules="rules"
			ref="form"
			label-width="180px"
		>
			<el-row>
				<template v-for="(item, index) in fields">
					<el-col :span="item.span" :key="index">
						<el-form-item
							v-show="item.show"
							:label="item.name"
							:key="`item${index}`"
							:for="item.id"
							:prop="item.id"
						>
							<el-input
								v-if="
									item.type === 'string' && !item.extendable
								"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<template v-if="item.extendable">
								<el-form-item
									v-for="(arrayItem, arrayIndex) in form[
										item.id
									]"
									:label="`${arrayIndex}`"
									:key="arrayIndex"
									label-width="50px"
								>
									<el-input
										style="width:70%; margin:5px"
										v-model="form[item.id][arrayIndex]"
									></el-input
									><el-button
										type="danger"
										plain
										style="margin-left:10px"
										@click.prevent="
											removeArrayItem(item.id, arrayIndex)
										"
										>-</el-button
									>
								</el-form-item>
								<el-form-item>
									<el-button
										@click="
											addArrayItem(item.id, item.type)
										"
										>+</el-button
									>
								</el-form-item>
							</template>
							<el-input
								v-if="item.type === 'email'"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-input
								v-if="item.type === 'textarea'"
								type="textarea"
								:rows="item.row || 3"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-input
								v-if="item.type === 'password'"
								type="password"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-input
								v-if="
									item.type === 'number' && !item.extendable
								"
								v-model.number="form[item.id]"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-select
								v-if="item.type === 'choice'"
								v-model="form[item.id]"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							>
								<el-option
									v-for="(opt, index) in item.option"
									:key="`${item.id}-option-${index}`"
									:label="opt.text"
									:value="opt.value"
								/>
							</el-select>

							<el-input-number
								v-if="item.type === 'number'"
								v-model="form[item.id]"
								:@change="item.handleChange"
								:min="item.min"
								:max="item.max"
								:label="item.name"
								:disabled="item.immutable"
							>
							</el-input-number>
							<el-date-picker
								v-if="item.type === 'date'"
								v-model="form[item.id]"
								type="date"
								style="width: 50%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-date-picker
								v-if="item.type === 'daterange'"
								v-model="form[item.id]"
								type="daterange"
								style="width: 50%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-date-picker
								v-if="item.type === 'datetime'"
								v-model="form[item.id]"
								type="datetime"
								style="width: 50%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-date-picker
								v-if="item.type === 'datetimerange'"
								v-model="form[item.id]"
								type="datetimerange"
								style="width: 50%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-switch
								v-if="item.type === 'boolean'"
								v-model="form[item.id]"
								:disabled="item.immutable"
							/>
							<el-checkbox-group
								v-if="item.type === 'multichoice'"
								v-model="form[item.id]"
								:disabled="item.immutable"
							>
								<el-checkbox
									v-for="(opt, index) in item.option"
									:key="`${item.id}-option-${index}`"
									:label="opt.value"
								>
									{{ opt.text }}
								</el-checkbox>
							</el-checkbox-group>

							<el-cascader
								v-if="item.type === 'twzipcode'"
								v-model="form[item.id]"
								:options="counties_and_cities_of_taiwan"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							></el-cascader>

							<el-upload
								v-if="item.type === 'upload'"
								:action="
									`/api/flexform_upload/${form_name}/${item.id}/${record_id}`
								"
								:on-success="uploadSuccess"
								list-type="picture-card"
								:before-remove="handleBeforeRemove"
								:on-remove="
									(file, fileList) => {
										handleRemoveFile(
											file,
											fileList,
											item.id
										);
									}
								"
								:on-preview="
									file =>
										handlerClickFile(
											file,
											item.id,
											item.immutable
										)
								"
								:file-list="trans_file_list(item.id)"
								:auto-upload="true"
								:disabled="item.immutable"
							>
								<i class="el-icon-plus"></i>
							</el-upload>
							<div v-if="item.type === 'sub_model'">
								<div
									:key="index"
									v-for="(sub_item, index) in form[item.id]"
									class="sub_model"
								>
									<el-button
										icon="el-icon-delete"
										class="close-sub-model"
										circle
										@click="removeSubmodel(item.id, index)"
										v-if="!item.immutable"
									></el-button>

									<SubForm
										ref="item.id"
										:params="{
											form: sub_item,
											fields: item.fields,
											rules: {},
											disabled: item.immutable
										}"
									></SubForm>
								</div>
								<el-button
									@click="addSubmodel(item.id)"
									icon="el-icon-plus"
									v-if="!item.immutable"
									>Add</el-button
								>
							</div>
						</el-form-item>
						<el-form-item
							v-if="item.type === 'password'"
							:label="`confirm ${item.name}`"
							:key="`item${index}`"
							:for="`_confirm_${item.id}`"
							:prop="`_confirm_${item.id}`"
						>
							<el-input
								type="password"
								v-model="form[`_confirm_${item.id}`]"
								:name="`_confirm_${item.id}`"
							/>
						</el-form-item>
					</el-col>
				</template>
			</el-row>

			<el-dialog :visible.sync="dialogVisible">
				<img width="100%" :src="file.url" alt="" />
				<el-input
					placeholder="請輸入名稱"
					v-model="new_name"
					:disabled="file_disabled"
				>
				</el-input>
				<el-row :gutter="20">
					<el-button
						v-if="!file_disabled"
						type="primary"
						@click="savie_file_name()"
						>更改檔名</el-button
					>
					<el-button type="primary" @click="download_file()"
						>下載</el-button
					>
					<a
						id="download"
						:href="file.url"
						:download="file.name"
						hidden
					></a>
				</el-row>
			</el-dialog>
		</el-form>
	</div>
</template>

<script>
import axios from 'axios';
import twzipcode from 'twzipcode-data';
import SubForm from '@/views/sf_sub_form';
export default {
	props: ['params'],
	components: {
		SubForm
	},
	data() {
		return {
			file: {},
			new_name: '',
			dialogVisible: false,
			file_disabled: false,
			file_field: ''
		};
	},
	computed: {
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return '';
			}
		},
		form: function() {
			if (this.params && this.params.form) {
				return this.params.form;
			} else {
				return {};
			}
		},
		fields: function() {
			if (this.params && this.params.fields) {
				return this.params.fields;
			} else {
				return {};
			}
		},
		rules: function() {
			if (this.params && this.params.rules) {
				return this.params.rules;
			} else {
				return {};
			}
		},
		record_id: function() {
			if (this.params && this.params.record_id) {
				return this.params.record_id;
			} else {
				return '';
			}
		},
		counties_and_cities_of_taiwan: function() {
			let data = twzipcode();
			let temp = [];

			for (let zipcode of data.zipcodes) {
				let country = temp.find(
					element => element.label === zipcode.county
				);
				if (!country) {
					temp.push({
						value: zipcode.county,
						label: zipcode.county,
						children: [
							{
								value: zipcode.city,
								label: zipcode.city
							}
						]
					});
				} else {
					country.children.push({
						value: zipcode.city,
						label: zipcode.city
					});
				}
			}
			return temp;
		}
	},
	created() {},
	methods: {
		validate() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs.form.validate(valid => {
					resolve(valid);
				});
			});
		},
		getForms() {
			let form = this.form;
			return new Promise(function(resolve) {
				resolve(form);
			});
		},
		resetFields() {
			let vm = this;
			return new Promise(function(resolve, reject) {
				vm.$refs.form.resetFields();
				resolve();
			});
		},
		trans_file_list(field) {
			let files = this.form[field] || [];
			return files;
		},
		handleBeforeRemove(file, fileList) {
			return this.$confirm(`確定移除 ${file.name}？`);
		},
		handleRemoveFile(file, fileList, field) {
			axios
				.get(
					`/api/flexform_delete/${this.form_name}/${field}/${this.record_id}/${file.file_name}`
				)
				.then(response => {
					this.$message({
						type: 'success',
						message: '刪除成功!'
					});
				});
		},
		uploadSuccess(response, file) {
			file.file_name = response.file_name;
		},
		savie_file_name() {
			axios
				.post('/api/edit_file_name', {
					form_name: this.form_name,
					field: this.file_field,
					record_id: this.record_id,
					file_name: this.file.file_name,
					new_name: this.new_name
				})
				.then(response => {
					this.file.name = this.new_name;
					this.$message({
						type: 'success',
						message: '更改名稱成功'
					});
				});
		},
		handlerClickFile(file, field, disable) {
			this.dialogVisible = true;
			this.file = file;
			this.new_name = file.name;
			this.file_disabled = disable;
			this.file_field = field;
		},
		download_file() {
			document.getElementById('download').click();
		},
		removeArrayItem(itemId, arrayIndex) {
			this.form[itemId].splice(arrayIndex, 1);
		},
		addArrayItem(itemId, type) {
			let newElement = null;
			if (type === 'string') {
				newElement = '';
			} else if (type === 'number') {
				newElement = 0;
			}
			this.form[itemId].push(newElement);
		},
		addSubmodel(field) {
			console.log('點擊');
			console.log(field);
			console.log(this.form[field]);
			if (!this.form[field]) {
				this.form[field] = [];
			}
			let sub_fields = this.fields.find(ele => ele.id === field).fields;
			let temp = {};
			for (let sub_field in sub_fields) {
				temp[sub_field] = '';
			}
			this.form[field].push(temp);
		},
		removeSubmodel(field, id) {
			this.$confirm('Are you sure to remove?', 'Warning', {
				confirmButtonText: 'Yes',
				cancelButtonText: 'No',
				type: 'warning'
			})
				.then(() => {
					this.form[field].splice(id, 1);
					this.$message({
						type: 'success',
						message: 'Removed!'
					});
				})
				.catch(() => {
					this.$message({
						type: 'info',
						message: 'Cancel'
					});
				});
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.sub_model {
	padding: 20px;
	border: 1px solid #d7dae2;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	margin: 10px;
}
.close-sub-model {
	margin-left: 95%;
	margin-bottom: 5px;
}
.sub_model .el-form-item {
	margin-bottom: 22px;
}
</style>
