<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<List
			v-if="list"
			:params="{
				list: list,
				fields: fields,
				actions: {
					edit: 'disabled',
					delete: 'disabled',
					detail: 'disabled'
				},
				extra_btn: [
					{ name: '檢視', button_name: 'Detail', path: 'detail' }
				]
			}"
		></List>
	</div>
</template>
<script>
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import List from '@/views/sf_list';
import { create } from '@/api/form';
import axios from 'axios';
import { constants } from 'crypto';
import Layout from '@/views/layout/Layout';
export default {
	name: 'Dashboard',
	components: {
		SFTitle,
		List
	},
	data: function() {
		return {
			title: '',
			fields: [],
			page: '',
			form: {},
			api: {},
			rules: {},
			form_name: '',
			flow_name: this.$route.path.split('/')[1],
			list: null
		};
	},
	created() {
		(function wait(temp) {
			if (temp.$SR) {
				temp.SR_loaded(temp.$SR);
			} else {
				setTimeout(wait, 500, temp);
			}
		})(this);
	},
	mounted() {},
	computed: {
		...mapGetters(['roles'])
	},
	methods: {
		SR_loaded(SR) {
			console.log('SR_loaded');
			console.log(this.flow_name);
			SR.API.GET_FLOW_LIST(
				{
					flow_name: this.flow_name,
					status: 'done'
				},
				(err, done) => {
					console.log('done list');
					console.log(done);
					this.fields = [
						{
							id: 'id',
							name: 'ID'
						},
						{
							id: 'step',
							name: '狀態'
						}
					];
					let list = [];
					for (let record_id in done) {
						list.push({
							id: record_id,
							step: done[record_id].title,
							review: ''
						});
					}

					let reviewParentRoute = this.$store.state.routeList.find(
						route => route.path === `/${this.$route.path}/detail`
					) || {
						path: `/${this.$route.path}/detail`,
						name: this.$route.path.split('/')[1],
						component: Layout,
						children: [],
						hide: true
					};
					let current_url = this.$route.path;
					console.log('current_url = ');
					console.log(current_url);
					Object.keys(done).forEach(key => {
						let detail_url = `${current_url}/detail/${key}`;
						console.log(detail_url);
						let reviewRoute = {
							path: detail_url,
							name: `done_${
								this.$route.path.split('/')[1]
							}_${key}`,
							component: () =>
								import('@/views/sf_flow_detail/index'),
							hidden: true
						};
						reviewParentRoute.children.push(reviewRoute);
					});
					this.$router.addRoutes([reviewParentRoute]);
					this.list = list;
				}
			);
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
